@{
  Layout = "_Layout";
}
  <div id = "welcome">
    <div class="jumbtron">
      <h1>Welcome to Vendors R' Us</h1>
    </div>
  </div>
<div class="card">
  <div class="container">
  <img src=https://media.istockphoto.com/id/1369521990/photo/young-woman-paying-with-mobile-phone-at-a-street-market.jpg?s=612x612&w=0&k=20&c=GiYASMoyWO67fkJa0WingXvH9fYoan0I_pqPQRtfIjw=>
  <p> Let us take care of all of your food and catering needs here at Vendors R' Us.
  </p>
</div>
</div>
<div id= "links">
<div class="container">
<h3><a href='/Vendor'>View Vendors</a></h3>
<h3><a href='/Vendor/New'>Add a new Vendor</a></h3>
<h3><a href='/Vendor/Search'>Search for an vendor</a></h3>
</div>
</div>
</div>